input[type=text].invalid-textbox,input[type=password].invalid-textbox{
    border-bottom: 2px solid #ed5558;
    }

    .d-flex {
        display: flex;
        align-items: center; /* Center items vertically */
      }
      
      .text-center {
        margin: 0; /* Adjust margins if necessary */
      }
      
    /* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  .custom-font {
    font-family: 'Lato', sans-serif;
  }
  